<!DOCTYPE html>
{% extends 'base.html' %}

{% comment %} 
1. This page will be used for reading a check number from image of check.
{% endcomment %}

{% block content %}



<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            {% comment %} For Security purpose. Please don't delete {% endcomment %}
            {% csrf_token %}
            <div class="text-center">
                {% comment %} For uploading portion {% endcomment %}
                <h3 class="text-center">Upload the Images</h3>
                {% comment %} for the submit form {% endcomment %}
            </div>
            <div class="image-upload-two">
                <div class="center">
                    <div class="form-input">
                        <label for="image"><b>1.</b>  Upload image of check:</label><br>
                        <input type="file" class="form-control" id="image" name="image"/><br>
                        <label for="image2"><b>2.</b>  Upload reference image for reading check:</label><br>
                        <input type="file" class="form-control" id="image2" name="image2"/>
                    </div>
                </div>
            </div>  
                
        <br><br>
    
        <button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Start OCR</button>
        {% comment %} End of submit form {% endcomment %}
        <br><br>
        </form>  
</div>
    
    
    <div class="col">
        <div class="text-center"> 
            <h3 class="text-center">The OCR'd version</h3>
        </div>
        {% comment %} For output {% endcomment %}
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">Check No.</label>
            <input type="text" class="form-control" id="text-val" placeholder="Check number" value=" {{ checknumber }}">
        </div> 
        
        {% comment %} For previewing image {% endcomment %}
        <div class="form-group">
            {% if img_obj %}
                <img src="{{ img_obj.image.url}}" alt="connect" style="max-width:450px">
            {% endif %}
        </div>
        
    </div>
</div>

{% comment %} End of the output {% endcomment %}

{% comment %} End of the html file {% endcomment %}
</html>

{% endblock %}
