{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col">
      <form method="post" enctype="multipart/form-data">
        {% comment %} For Security purpose. Please don't delete {% endcomment %}
        {% csrf_token %}

        {% comment %} For uploading portion {% endcomment %}
        <h3 class="text-center">Upload the License</h3>
        <br>
        <input type="file" class="form-control" id="image" name="image" style="border:1px outset #000000;"/>
        {% comment %} End of uploading portion {% endcomment %}

        {% comment %} for line break before the submit {% endcomment %}
        <br><br>

        {% comment %} for the submit form {% endcomment %}
        <div class="text-center">
             <button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Start OCR</button>
        </div>
        {% comment %} End of submit form {% endcomment %}
        
      </form>
    <br>  
      <div class="text-center">
          {% if img_obj %}
              <h3 class="text-center">The License{{img_obj.title}}</h3>
              <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
          {% endif %}
      </div> 
    </div>
    <div class="col">
      <div class="text-center">
        <h3 class="text-center">The OCR'd version</h3>

        {% comment %} From views.py {% endcomment %}

        {% comment %} For output {% endcomment %}
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">Full Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name" value="{{ full_name }}">
        </div> 
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">DOB</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="DOB" value="{{ dob }}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address" value="{{ address }}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">State</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="State" value={{ state }}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">License No.</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="License No." value={{ license }}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">Issue Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Issued" value={{ issue_date }}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color:blue;">Expiration Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Expiration" value={{ expiry_date }}>
        </div>
         {% comment %} End of the output {% endcomment %}
      </div>
    </div>
  </div>

{% endblock %}